.search-menu {
    background-color: #151d22;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .search-input {
        display: flex;
        width: 100%;
        background-color: #202c33;
        align-items: center;
        padding: 10px;
        border-radius: 10px;

        .icon {
            color: #9faab2;
        }

        .input {
            margin-left: 20px;
            width: 100%;
            background-color: #202c33;
            outline: none;
            border: none;
            color: #fff;
            font-size: 18px;
        }
    }

    .selector {
        display: flex;
        gap: 10px;

        .select-item {
            background-color: #202c33;
            padding: 10px;
            border-radius: 20px;
            color: #939992;
            cursor: pointer;

            &:hover {
                background-color: #2e383f;
            }
        }
    }
}