.info-drawer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: #111b21;

    .info-drawer__header {
        background-color: #202c33;
        height: 120px;
        display: flex;
        align-items: flex-end;
        padding: 20px;
        color: #fff;

        .info-drawer__header__content {
            display: flex;
            align-items: center;
            gap: 30px;
            color: #d4dee0;

            .icon {
                cursor: pointer;
            }

            h1 {
                font-size: 20px;
                font-weight: 450;
            }
        }
    }
}