.chat-menu__search {
    background-color: #151d22;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    padding: 10px 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .chat-menu__search__input {
        position: relative;
        display: flex;
        width: 100%;
        background-color: #202c33;
        align-items: center;
        padding: 10px;
        border-radius: 10px;

        .chat-menu__search__input__icon {
            color: #9faab2;
        }

        input {
            margin-left: 20px;
            width: 100%;
            background-color: #202c33;
            outline: none;
            border: none;
            color: #9faab2;
            font-size: 16px;
            margin-right: 30px;
        }

        .chat-menu__search__input__icon-clear {
            color: #9faab2;
            font-size: 25px;
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }

    .chat-menu__search__selector {
        display: flex;
        gap: 10px;

        .chat-menu__search__selector__item {
            background-color: #202c33;
            padding: 10px 15px;
            border-radius: 20px;
            color: #939992;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        .chat-menu__search__selector__item--selected {
            background-color: rgba(0, 137, 123, 0.4);
            padding: 10px 15px;
            border-radius: 20px;
            color: #939992;
            cursor: pointer;
        }
    }
}