.empty-chat {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
    padding: 0 25px;

    img {
        width: 380px;
    }

    h5 {
        font-size: 32px;
        color: #a1b2b2;
        font-weight: 300;
        word-break: break-word;

        @media screen and (max-width: 768px) {
            max-width: 450px;
        }
    }

    p {
        color: #a1b2b2;
        word-break: break-word;

        @media screen and (max-width: 768px) {
            max-width: 450px;
        }
    }

    button {
        padding: 10px 25px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: #00a884;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background-color: #0cbc96;
        }
    }

    .empty-chat__note {
        position: absolute;
        bottom: 20px;
        color: #8d9595;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;

        .empty-chat__note__icon {
            font-size: 14px;
        }
    }
}