input {
    background-color: #222e35;
    border: none;
}

.epr-category-nav {
    padding: 5px 0;
}

h2 {
    background-color: #202c33;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

// & div:nth-of-type(3) {
//     display: none;
// }