.attachmentMenu__options {
    position: absolute;
    left: 0;
    bottom: 140%;
    background-color: #233138;
    padding: 10px 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
    z-index: 20;

    .attachmentMenu__options__item {
        padding: 10px 10px;
        cursor: pointer;
        border-radius: 10px;
        color: #c5cbcf;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;

        .option__iconDocument {
            font-size: 28px;
            color: #7f66ff;
        }

        .option__iconImage {
            font-size: 28px;
            color: #007bfc;
        }

        .option__iconCamera {
            font-size: 28px;
            color: #ff2e74;
        }

        .option__iconUser {
            font-size: 28px;
            color: #009de2;
        }

        .option__iconPoll {
            font-size: 28px;
            color: #ffbc38;
        }

        .option__iconSticker {
            font-size: 28px;
            color: #02a698;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}