.chatboxContainer__chatHeader {
    display: flex;
    height: 60px;
    padding: 10px 25px;
    align-items: center;
    gap: 15px;

    .chatboxContainer__chatHeader__avatar {
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        .icon {
            position: absolute;
            right: 0;
            bottom: 0;
            color: rgb(23, 177, 23);
            font-size: 14px;
        }

        .icon--offline {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #343131;
            font-size: 14px;
        }
    }

    .chatboxContainer__chatHeader__name {
        color: #fff;

        h5 {
            font-size: 16px;
            font-weight: 550;
            margin-bottom: 5px;
        }

        p {
            color: #a0abb2;
            font-size: 13px;
            font-weight: 400;
        }
    }

    .chatboxContainer__chatHeader__icons {
        margin-left: auto;
        color: #a0abb2;
        display: flex;
        align-items: center;
        gap: 20px;

        .icon {
            font-size: 28px;
            cursor: pointer;
        }

        .chatboxContainer__chatHeader__icons__menu {
            position: relative;

            .icon {
                font-size: 28px;
                cursor: pointer;
            }
        }
    }
}