.chatboxContainer__messageList {
    background-image: url("../../../../assets/images/bgImg.webp");
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px 50px;
    gap: 3px;
    overflow: scroll;

    @media screen and (max-width: 1200px) {
        padding: 10px 25px;
    }
}