.menu__header {
    height: 60px;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    justify-content: space-between;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu__header__icons {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;

        .icon {
            color: #9faab2;
            font-size: 30px;
            cursor: pointer;
        }

        .menu__header__icons__options {
            position: relative;
            display: flex;
            align-items: center;

            .icon {
                color: #9faab2;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}