.header-chat-box-options {
    position: absolute;
    top: 110%;
    right: 0;
    border-radius: 5px;
    overflow: hidden;

    .header-chat-box-options__items {
        max-width: 340px;
        width: max-content;
        background-color: #233138;
        padding: 15px 0;
        display: flex;
        flex-direction: column;

        .item {
            cursor: pointer;
            padding: 15px 20px;
            color: #beb8b1;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}